<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="~/assets/css/bootstrap-clearmin.min.css">
        <link rel="stylesheet" href="~/assets/css/roboto.css">
        <link rel="stylesheet" href="~/assets/css/material-design.css">
        <link rel="stylesheet" href="~/assets/css/small-n-flat.css">
        <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/TEST_MVC.styles.css" asp-append-version="true" />
        <title>ERP系統</title>
    </head>
    <body class="cm-no-transition cm-2-navbar">
        <div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex">
                    <a asp-controller="Home" asp-action="Index" class="btn" style="color:white;width:100%;font-size:2rem">
                        <i class="fa fa-fw fa-home"></i>ERP系統
                     </a>
                </div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            @*左側選單*@
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            @*伸縮選單*@
                            <li class="cm-submenu">
                                <a  class="sf-carton">商品管理<span class="caret"></span></a>
                                <ul>
                                    <li><a asp-controller="Products" asp-action="Index">列表</a></li>
                                    <li><a asp-controller="Products" asp-action="Create">新增</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a  class="sf-post-it">訂單管理<span class="caret"></span></a>
                                <ul>
                                    <li><a asp-controller="Order" asp-action="Index">列表</a></li>
                                    <li><a asp-controller="Order" asp-action="Create">新增</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-wrench">其他 <span class="caret"></span></a>
                                <ul>
                                    <li><a asp-controller="Login" asp-action="Get">Cookie</a></li>
                                    <li><a asp-controller="text" asp-action="Index">測試</a></li>
                                </ul>
                            </li>
                            @*單選*@
                            @*<li><a asp-controller="Login" asp-action="Index" class="sf-lock-open">Login In</a></li>*@
                            <li><a asp-controller="Login" asp-action="Logout" class="sf-lock">Login Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header id="cm-header">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                <div class="cm-flex">
                  @*NAV內容*@
                  @*<h1 style="font-size:20px">@ViewData["Title"]</h1>*@
                </div>
@*                <div class="dropdown pull-right">
                    <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                        <li class="disabled text-center">
                            <a style="cursor:default;"><strong>John Smith</strong></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a>
                        </li>
                        <li>
                            <a href="login.html"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
                        </li>
                    </ul>
                </div>*@
            </nav>
            @*麵包屑*@
            <nav class="cm-navbar cm-navbar-default cm-navbar-slideup">
                <div class="cm-flex">
                    <div class="cm-breadcrumb-container">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="active">Lorem Page</li>
                        </ol>
                    </div>
                </div>
            </nav>
        </header>
        <div id="global">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @RenderBody()
                        <footer class="cm-footer"><span class="pull-left"></span><span class="pull-right">Simon Chih &copy; 2023</span></footer>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/js/jquery.mousewheel.min.js"></script>
        <script src="~/assets/js/jquery.cookie.min.js"></script>
        <script src="~/assets/js/fastclick.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/clearmin.min.js"></script>
@*        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/axios/axios.min.js"></script>
         @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

@*呼叫alert*@
<div style='position:fixed; z-index:999; top:0;right: 0;min-width:200px'>
    @await Html.PartialAsync("_AlertPartail")
</div>
   

